header {
    display: block;
    position: relative;
    max-width: var(--width-max);
    margin: auto;
    top: 0;
    background: var(--color-primaryLight);
}
.title_label {
    line-height: 40px;
    font-size: var(--font-size-title) !important;
    font-weight: bold;
    color: var(--color-primaryLight);
}
#first_section {
    display: block;
    position: relative;
    max-width: 1920px;
    height: 80px;
    margin: 0 auto;
    padding-left: var(--margin-fromScreen);
    padding-right: var(--margin-fromScreen);
    line-height: 20px;
}
#header_label {
    display: block;
    position: relative;
    width: 20%;
    top: 20px;
    font-size: var(--font-size-title);
    color: var(--color-primary);
}
    #header_label span {
        display: block;
        text-transform: lowercase;
        font-size: var(--font-size-mini);
        color: var(--color-primary);
    }

#header_user {
    display: block;
    position: absolute;
    width: 200px;
    right: 200px;
    top: 20px;
    font-size: var(--font-size-title);
    text-align: right;
    font-weight: bold;
    color: var(--color-primary);
}
    #header_user > span {
        display: block;
        text-transform: lowercase;
        font-size: var(--font-size-mini);
        font-weight: normal;
        color: var(--color-primary);
    }
#quit {
    display: block;
    position: absolute;
    width: 95px;
    right: 60px;
    top: 30px;
    font-size: var(--font-size-title);
    text-align: center;
    text-transform: lowercase;
    font-weight: bold;
    color: var(--color-primary);
}
#second_section {
    display: block;
    position: relative;
    max-width: 1920px;
    height: 80px;
    margin: 0 auto;
    padding-left: var(--margin-fromScreen);
    padding-right: var(--margin-fromScreen);
    background: var(--gradient-default);
}
    #second_section > label {
        display: block;
        position: relative;
        width: 100%;
        line-height: 40px;
        font-size: var(--font-size-title)!important;
        color: var(--color-primaryLight);
    }
    #second_section > label {
        display: block;
        position: relative;
        width: 100%;
        line-height: 40px;
        font-size: var(--font-size-title)!important;
        color: var(--color-primaryLight);
    }
    #second_section > .line {
        width: 40px;
        background: var(--color-primaryLight);
    }
.tabs{
    display: block;
    position: relative;
    margin-top: 10px;
}
.tab {
    display: inline-block;
    position: relative;
    margin-left: 30px;
}
    .tab a {
        color: var(--color-primaryLight);
    }
        .tab a:hover {
            color: var(--color-primaryLight);
            text-decoration: underline;
        }
        .tab_active{
            font-weight: bold;
        }

#third_section {
    display: block;
    position: relative;
    max-width: 1920px;
    height: 80px;
    margin: 0 auto;
    padding-left: var(--margin-fromScreen);
    padding-right: var(--margin-fromScreen);
}
.search_wrapper {
    display: block;
    position: relative;
    max-width: var(--width-min);
    height: var(--height-search);
    top: 20px;
    z-index: 100;
}

.search {
    display: block;
    position: relative;
    max-width: 768px;
    height: 40px;
    border: 1px solid var(--color-primary);
    border-radius: 20px 10px 10px 20px;
    overflow: hidden;
}

.search input {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    padding-left: 105px;
    font-size: var(--font-size-title);
}

.src_img {
    cursor: pointer;
    display: block;
    position: absolute;
    left: 1px;
    top: 1px;
    color: var(--color-primaryLight);
    text-transform: lowercase;
    font-size: var(--font-size-normal);
}

.src_circle {
    cursor: pointer;
    display: block;
    position: absolute;
    left: 2px;
    top: 2px;
    width: 36px;
    height: 36px;
    background: var(--color-primary);
    border-radius: 50px;
}

#fourth_section {
    display: block;
    position: relative;
    max-width: 1920px;
    margin: 0 auto;
    padding-left: var(--margin-fromScreen);
    padding-right: var(--margin-fromScreen);
}

#fifth_section {
    display: block;
    position: relative;
    max-width: 1920px;
    margin: 0 auto;
    padding-left: var(--margin-fromScreen);
    padding-right: var(--margin-fromScreen);
}
    #fifth_section #prod_settings_label {
        display: block;
        position: relative;
        max-width: 200px;
        margin-top: 20px;
    }
    #fifth_section #prod_table_label {
        display: block;
        position: absolute;
        max-width: var(--width-min);
        top: 0;
        margin-left: 250px;
    }
    /*#fifth_section #pagination_label {
        display: block;
        position: absolute;
        width: 100px;
        top: 0;
        right: 320px;
        right: calc((var(--width-max) - var(--width-min)) / 2);
        margin-left: calc(var(--width-min) + 100px);
        line-height: 40px;
        font-size: 15pt;
        font-weight: bold;
    }*/

.viewport {
    display: table;
    position: relative;
    max-width: var(--width-max);
    padding-left: var(--margin-fromScreen);
    padding-right: var(--margin-fromScreen);
    margin: auto;
}
.viewport_section {
    display: table-cell;
    height: 300px;
}
#v_s_first {
    min-width: 250px;
}
#v_s_first .item {
    width: 160px;
    margin-top: 20px;
}
#v_s_second {
    width: 100%;
}
#v_s_second > .line{
    width: 100%;
    top: 60px;
    background: var(--color-fore-darkLight);
}
#v_s_second table{
    table-layout: fixed;
    width: 100%;
}
    #v_s_second table th {
        height: 60px;
        text-align: left;
    }
        #v_s_second table th label {
            font-size: var(--font-size-normal);
            font-weight: normal;
        }
    #v_s_second table tr {
        height: 60px;
        text-align: left;
    }
    #v_s_second table td {
        overflow: hidden;
    }
.table_btn {
    width: 80%!important;
    height: 30px!important;
    line-height: 30px!important;
    margin-top: 10px;
    background: transparent!important;
    border: 3px solid var(--color-primary);
    color: var(--color-primary)!important;
    overflow: hidden;
}
    .table_btn:hover {
        background: var(--color-primary)!important;
        color: var(--color-primaryLight)!important;
    }
    .alignment{
        vertical-align: top!important;
    }
.state {
    /*background: #00FF7F;*/
}
.state_circle {
    display: block;
    position: relative;
    width: 20px;
    height: 20px;
    margin-left: 20px;
    border-radius: 10px;
    background: #00FF7F;
}

.pagination_wrapper {
    display: block;
    position: relative;
    max-width: 1280px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 100px;
    padding-left: var(--margin-fromScreen);
    padding-right: var(--margin-fromScreen);
}

    .pagination_wrapper label {
        display: block;
        position: relative;
        font-size: var(--font-size-title);
        font-weight: bold;
    }

    .pagination_wrapper .line {
        margin-top: 10px;
    }

.page_container {
    display: block;
    position: relative;
    /* max-width: 550px;
  margin: 0 auto; */
    margin-top: 20px;
}

.page {
    display: inline-block!important;
    width: 50px!important;
    height: 50px!important;
    background: transparent!important;
    line-height: 50px!important;
    border: 3px solid var(--color-primary);
    color: var(--color-primary)!important;
}

/* asd asd asd asd asd asd asd asd asd asd */
#sixth_section {
    display: block;
    position: relative;
    max-width: 1920px;
    margin: 0 auto;
    padding-left: var(--margin-fromScreen);
    padding-right: var(--margin-fromScreen);
}

    #sixth_section .add_label {
        display: block;
        position: relative;
        margin-top: 20px;
    }
    #sixth_section .add_btn {
        position: absolute;
        width: 150px;
        line-height: 30px;
        height: 30px;
        top: 5px;
        margin-left: 250px;
        font-size: var(--font-size-mini);
        background: var(--color-primary);
    }
    #sixth_section .add_btn:hover {
        box-shadow: 0 5px 25px -10px #646464!important;
        transition: var(--transition-link)!important;
    }

.menu_label {
    line-height: 40px;
    font-size: var(--font-size-normal) !important;
    font-weight: bold;
    color: var(--color-primaryLight);
    margin-top: 40px;
}

.radio_container{
    display: block;
    position: relative;
    width: 100%;
}
.radio_item {
    cursor: pointer;
    display: block;
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.radio_item span{
    display: inline-block;
    position: relative;
    width: 10px;
    height: 10px;
    border: 1px solid var(--color-primary);
    border-radius: 10px;
}
    .radio_item label {
        cursor: pointer;
        position: relative;
        width: 10px;
        height: 10px;
    }
    .active_radio span{
        background: var(--color-primary);
    }
    .active_radio label {
        color: var(--color-primary);
    }

.edit_container {
    display: block;
    position: relative;
    max-width: 100%;
    height: 100%;
    overflow: hidden;
}
.cart_view {
    display: block;
    position: relative;
    width: 345px;
    height: 500px;
    box-shadow: var(--box-shadow-buttonShadow);
    margin: auto;
    margin-bottom: 80px;
    vertical-align: middle;
}
    .cart_view form {
        display: block;
        position: absolute;
        width: 100%;
        height: 570px;
        overflow: hidden;
    }
    .cart_view form input {
        display: block;
        position: relative;
        width: 345px;
        margin: 0 auto;
        outline: none;
        border: none;
    }
        .cart_view form input[type=button] {
            display: block;
            position: relative;
            width: 40%;
            margin-top: 50%;
            font-size: var(--font-size-mini);
            text-transform: lowercase;
            font-weight: bold;
            text-align: center;
            background: var(--gradient-default);
        }
        .cart_view > span {
            display: block;
            position: absolute;
            width: 50%;
            top: 70%;
            left: 20px;
            background: var(--color-primary);
        }
    .cart_view form textarea {
        display: block;
        position: relative;
        resize: none;
        border: none;
        margin-top: 45%;
        left: 20px;
        font-size: var(--font-size-mini);
        font-weight: bold;
    }
    .cart_view form input[name="price"] {
        display: block;
        position: relative;
        width: 100%;
        height: 40px;
        margin-top: 2%;
        right: 20px;
        text-align: right;
        text-transform: lowercase;
        font-size: var(--font-size-mini);
        font-weight: bold;
    }
    .cart_view form input[name="IsSale"] {
        display: block;
        position: absolute;
        width: 100%;
        height: 40px;
        bottom: 20px !important;
        right: 0;
        padding-right: 50px;
        text-align: right;
        text-transform: lowercase;
        font-size: var(--font-size-mini);
        font-weight: bold;
        color: var(--color-primary);
    }
    .cart_view form .line {
        display: block;
        position: absolute;
        width: 20%;
        height: 1px;
        top: unset;
        bottom: 20px;
        left: unset;
        right: 20px;
        background: var(--color-primary);
    }

    .cart_view form .radio_sale {
        cursor: pointer;
        display: block;
        position: absolute;
        width: 15px;
        height: 15px;
        border-radius: 20px;
        top: unset;
        bottom: 30px;
        right: 20px;
        border: 1px solid var(--color-primary);
    }
        .cart_view form .radio_sale::after {
            content: "";
            display: block;
            position: absolute;
            width: 0px;
            height: 0px;
            top: 7.5px;
            left: 7.5px;
            border-radius: 10px;
            background: transparent;
            transition: .1s ease-in-out;
        }
        .cart_view form .radio_sale:hover {
            background: var(--color-darkLight);
            transition: .1s ease-in-out;
        }
.radio_sale_active::after {
    width: 13px !important;
    height: 13px !important;
    top: 1px !important;
    left: 1px !important;
    background: var(--color-primary)!important;
    transition: .1s ease-in-out;
}