RewriteEngine On

# Протокол https, если он не назначен

RewriteCond %{HTTPS} off
RewriteCond %{HTTP:X-Forwarded-Proto} !https
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# 404 redirect page
ErrorDocument 404 /404.php
ErrorDocument 403 /404.php

#RewriteCond %{REQUEST_URI} /cart.php
#RewriteCond %{QUERY_STRING} ^\z
#RewriteRule ^(.*)$ https://flower/? [R=301,L]

AddDefaultCharset utf-8
AddType 'text/html; charset=utf-8' .html .htm .shtml