@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    display: table;
    width: 100%;
    min-height: 100%;
}

.container {
    display: table-cell;
    position: relative;
    width: 100%;
    text-align: center;
    top: 0;
}

    .container a {
        display: block;
        position: relative;
        max-width: 400px;
        height: 100px;
        margin: 0 auto;
        padding-top: 1%;
        background: var(--color-primaryLight);
        border-radius: 10px;
    }

    .container ._404 {
        display: block;
        position: relative;
        max-width: 400px;
        height: 100px;
        margin: 0 auto;
        padding-top: 1%;
        background: var(--color-primaryLight);
        border-radius: 10px;
    }

        .container ._404::after {
            content: attr(attr-data);
            display: block;
            position: absolute;
            top: 80px;
            max-width: 100%;
            padding: 80px 50px 0 50px;
            color: white;
            line-height: 30px;
            font-size: 14pt;
            height: 430px;
            border-radius: 10px;
            background: var(--gradient-default);
            box-shadow: var(--box-shadow-lightShadow);
            z-index: -1;
        }

._404 > label {
    cursor: pointer;
    font-size: 64pt;
    color: var(--color-primary);
    font-weight: bold;
}

@media only screen and (max-device-width: 1024px) { /* ШИРИНА МЕНЬШЕ 1024 */
    .container ._404 {
        max-width: unset;
        width: 100%;
        height: 100% !important;
    }
    .container a {
        max-width: unset;
        width: 100%;
        height: 100% !important;
    }

        .container ._404::after {
            position: absolute;
            max-width: unset;
            max-width: 100%;
            padding: unset;
            padding: 200px 200px 0 200px;
            line-height: 50px;
            font-size: 26pt;
            max-height: unset;
            height: 600px !important;
        }
}