/*root statement*/
html {
    /*main-colors*/
    --color-primary: #ff6565;
    --color-primaryDark: #353535;
    --color-primaryLight: #fff;
    --color-darkLight: #ddd;
    --color-fore-darkLight: #bbb;
    /*transitions*/
    --transition-link: .2s ease-out;
    --transition-low: .3s ease-in-out;
    /*parametres*/
    --width-max: 1920px;
    --width-min: 1280px;
    --height-slider: 560px;
    --height-search: 60px;
    --margin-fromScreen: 60px;
    /*shadow*/
    /*--box-shadow-buttonShadow: 0 6px 80px -15px var(--color-primaryDark);*/
    --box-shadow-buttonShadow: 0 8px 30px -15px var(--color-primaryDark);
    --box-shadow-lightShadow: 0 6px 30px 0px var(--color-darkLight);
    /*font*/
    --font-size-superTitle: 26pt;
    --font-size-title: 19px;
    --font-size-normal: 14pt;
    --font-size-mini: 12pt;
    /* design */
    --contrast-default: contrast(1.2);
    --gradient-default: linear-gradient(to right, #ef4b6d, #ff8261);
    --gradient-dynamic: linear-gradient(360deg, #82FF91, #6CB3FF);
    --color-dynamic: #6CB3FF;
    --color2-dynamic: #6CB3FF;
}
body {
    filter: contrast(1);
    overflow-x: hidden;
}
/*p, h2, a,
nav, input, label,
li, label, .subcategory div,
.up, .cart_items_counter,*/
* {
    font-family: 'Roboto', sans-serif;
    color: var(--color-primaryDark);
    margin: 0;
    padding: 0;
}

* {
    outline: none !important;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
}

a {
    text-decoration: none;
    transition: var(--transition-link);
}

    a:hover {
        color: var(--color-primary);
        transition: var(--transition-link);
    }
.line {
    display: block;
    position: relative;
    width: 80px;
    height: 3px;
    background: var(--color-primaryDark);
    border-radius: 1.5px;
}

.button {
    cursor: pointer;
    display: block;
    position: relative;
    width: 80px;
    height: 40px;
    line-height: 40px;
    background: var(--gradient-default);
    color: var(--color-primaryLight);
    text-align: center;
    border-radius: 50px;
    transition: var(--transition-low);
}
    .button:hover {
        box-shadow: var(--box-shadow-buttonShadow)!important;
        transition: var(--transition-link)!important;
    }
.default_container {
    display: block;
    position: relative;
    max-width: 1920px !important;
    margin: 0 auto;
    top: 0;
    margin-top: 200px;
}

.borderBottom {
    display: block;
    position: relative;
    width: 100%;
    height: 10px;
    margin: 0 auto;
    top: 0;
    background: linear-gradient(to right, #ef4b6d, #e86c46);
    filter: var(--contrast-default);
}
.rating {
    display: inline-block;
    position: relative;
    width: 150px;
    cursor: pointer;
    unicode-bidi: bidi-override;
    direction: rtl;
    letter-spacing: -5px;
}
    .rating > span {
        display: inline-block;
        position: relative;
        width: 30px;
        text-align: left;
        color: var(--color-primary);
        font-size: 20pt;
    }

        .rating > span:hover:before,
        .rating > span:hover ~ span:before {
            content: "\2605";
            position: absolute;
        }


        .product {
            cursor: pointer;
            display: inline-block;
            position: relative;
            width: 245px;
            height: 400px;
            margin-bottom: 30px;
            margin-left: var(--margin-fromScreen);
            background: var(--color-primaryLight);
            box-shadow: var(--box-shadow-lightShadow);
            border-radius: 10px;
            overflow: hidden;
        }

            .product > img {
                display: block;
                position: relative;
                top: 2%;
                height: 240px; /* 70% 330px*/
                width: 208px;
                margin: 0 auto;
            }
            .product span {
                display: block;
                position: absolute;
                width: 100px;
                height: 3px;
                left: 10px;
                top: 260px;
                border-radius: 1.5px;
                background: var(--color-primary);
                transition: var(--transition-link);
                z-index: 5;
            }
            .product p {
                display: block;
                position: absolute;
                width: 90%;
                left: 10px;
                top: 270px;
                font-size: var(--font-size-mini);
                transition: var(--transition-link);
                z-index: 3;
            }

            .product > label {
                display: block;
                position: absolute;
                top: 360px;
                right: 10px;
                font-size: var(--font-size-title);
                font-weight: bold;
                z-index: 5;
                color: var(--color-primaryDark);
                transition: var(--transition-link);
            }
            .product .product_type {
                display: block;
                position: absolute;
                width: 25%;
                top: 20px;
                left: 0;
                padding: 5px 0px 5px 10px;
                margin-left: 10px;
                border-radius: 30px 30px 30px 30px;
                font-size: var(--font-size-mini);
                font-weight: bold;
                background: var(--color-primaryLight);
                border: 1px solid var(--color-primary);
                color: var(--color-primary);
                z-index: 5;
                filter: var(--contrast-default);
                transition: var(--transition-link);
            }
.dynamic_product .product_type {
    color: var(--color-dynamic) !important;
    border-color: var(--color-dynamic) !important;
}
.dynamic_product .gradient {
    background: var(--gradient-dynamic)!important;
}
.dynamic_product .line {
    background: var(--color-dynamic)!important;
}
.dynamic_product .tocart {
    background: var(--gradient-dynamic) !important;
    filter: contrast(0.9)!important;
}

            .product .tocart {
                cursor: pointer;
                display: block;
                position: absolute;
                opacity: 0;
                width: 100%;
                height: 50px;
                top: 350px;
                background: var(--gradient-default);
                z-index: 1;
                transition: var(--transition-link);
            }

                .product .tocart label {
                    cursor: pointer;
                    display: block;
                    position: relative;
                    text-align: center;
                    padding: 5px;
                    top: 8px;
                    font-size: var(--font-size-title);
                    text-transform: lowercase;
                    color: var(--color-primaryLight);
                }

                .product .tocart img {
                    display: block;
                    position: relative;
                    margin: auto;
                    top: 4px;
                }
        .gradient {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: var(--gradient-default);
            opacity: 0;
            border-radius: 5px 5px 5px 5px;
            transition: var(--transition-link);
            z-index: 2;
        }
            .product:hover .gradient {
                opacity: .8;
                transition: var(--transition-link);
            }

            .product:hover .tocart {
                /* top: 350px; */
                opacity: 1;
                z-index: 3;
                transition: var(--transition-link);
            }
                .product .tocart:hover {
                    filter: brightness(1.3);
                    transition: var(--transition-link);
                }
        .product:hover span {
            left: 15px;
            width: 150px;
            background: var(--color-primaryLight)!important;
            transition: var(--transition-link);
        }
        .product:hover p {
            left: 15px;
            color: var(--color-primaryLight);
            transition: var(--transition-link);
        }

        .product:hover > .price {
            top: 310px;
            color: var(--color-primaryLight);
            transition: var(--transition-link);
        }
        .product:hover .product_type {
            margin-left: 20px;
            background: transparent;
            color: var(--color-primaryLight)!important;
            border-color: var(--color-primaryLight)!important;
            /*font-weight: bold; */
            transition: var(--transition-link);
          }
