
header {
    display: block;
    position: fixed;
    width: 100%;
    height: 200px;
    top: 0;
    background: var(--color-primaryLight);
    z-index: 999;
}
    header .borderBottom {
        top: -1px!important;
        width: 0;
        height: 5px;
    }
.header_scroll{
    top: -135px!important;
    box-shadow: 0 8px 20px -15px #646464;
    transition: var(--transition-link);
}
.header_scroll nav{
    height: 185px;
    transition: var(--transition-link);
}
.header_scroll .fixed_nav{
    margin-top: 10px;
    height: 65px;
    transition: var(--transition-link);
}
    .header_scroll .borderBottom{
        width: var(--width-max)!important;
        background: #c7c7c7!important;
        height: 2px!important;
        top: 15px!important;
        transition: var(--transition-link);
    }
    .header_scroll nav {
        top: 15px;
        transition: var(--transition-link);
    }
nav {
    padding: 0 var(--margin-fromScreen) 0 var(--margin-fromScreen);
    display: block;
    position: relative;
    max-width:  var(--width-max);
    height: 200px;
    margin: 0 auto;
    top: 0;
    font-weight: normal;
    font-size: var(--font-size-normal);
    text-align: center;
    transition: var(--transition-link);
    z-index: 10;
}
ul {
    list-style: none;
}

li {
    display: inline-block;
    position: relative;
    text-transform: lowercase;
}
.navbar_one {
    display: block;
    position: relative;
    max-width: 100%;
    height: 50%;
    top: 10%;
    margin: 0;
}
    .navbar_one .logo {
        position: absolute;
        height: 100%;
        left: 0;
        font-size: 25pt;
        font-weight: bold;
        font-style: italic;
        filter: var(--contrast-default);
    }
        .navbar_one .logo img {
            display: inline-block;
            position: relative;
            width: 64px;
            height: 64px;
            border-radius: 50px;
        }
        .navbar_one .logo a {
            display: inline-block;
            position: relative;
            top: -20px;
            color: var(--color-primary);
            text-transform: uppercase;
        }
    .navbar_one .meta {
        position: absolute;
        height: 100%;
        left: 230px;
    }
        .navbar_one .meta label {
            display: block;
            position: relative;
            top: 10%;
            font-size: var(--font-size-title);
            font-weight: bold;
            text-align: left;
        }
        .navbar_one .meta p {
            display: block;
            position: relative;
            top: 10%;
            margin: 0;
        }
    .navbar_one .links {
        position: absolute;
        height: 100%;
        right: 0;
    }
        .navbar_one .links li {
            position: relative;
            top: 15px;
            margin-left: 20px;
            font-size: var(--font-size-title);
            text-transform: uppercase;
        }

        /* -------------------- */
.fixed_nav {
    display: block;
    position: relative;
    max-width: 100%;
    height: 40%;
    top: 10%;
    margin: 0;
}
.categories {
    display: inline-block;
    position: absolute;
    width: 300px;
    left: 0;
    top: 10px;
    height: 50px;
    background: var(--color-primaryLight);
    border-radius: 10px;
}
.category_active::after {
    content: "";
    display: block;
    position: absolute;
    opacity: 0!important;
    opacity: 1;
    height: 90%;
    width: 100%;
    bottom: -10px!important;
    border-radius: 10px;
    background: var(--gradient-default);
    filter: var(--contrast-default);
    box-shadow: var(--box-shadow-buttonShadow);
    z-index: -1;
}
.category_active::after{
    opacity: 1!important;
    transition: var(--transition-link);
}
.categories label[name="maintitle"],
.categories label[name="title"] {
    cursor: pointer;
    display: block;
    position: relative;
    height: 55px;
    line-height: 50px;
    font-size: var(--font-size-title);
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
}
    .categories span[name="title"] {
        width: 0;
        transition: .1s ease-in-out!important;
    }
    span[name="title"] {
        display: block;
        position: relative;
        width: 80px;
        height: 3px;
        left: 20px;
        top: -10px;
        border-radius: 1.5px;
        background: var(--color-primary);
    }
.category_open_btn {
    cursor: pointer;
    display: block;
    position: absolute;
    top: 13px;
    left: 220px;
    width: 25px;
    height: 21px;
    transition: var(--transition-link);
}
    .category_open_btn span {
        display: block;
        position: relative;
        width: 100%;
        height: 3px;
        margin-top: 3px;
        border-radius: 50px;
        background: var(--color-primaryDark);
        transition: var(--transition-link);
    }
.categories:hover span:nth-of-type(2) {
    width: 66%;
    transition: var(--transition-link);
}
.categories:hover  span:nth-of-type(3) {
    width: 33%;
    transition: var(--transition-link);
}

.burger_tocross {
    /*top: 19px;*/
    left: 220px;
    width: 25px;
    height: 21px;
    transition: var(--transition-link);
}

    .burger_tocross span:nth-child(1) {
        /*transform: rotate(0deg);*/
        transition: var(--transition-link);
        background: var(--color-primary)!important;
    }

    .burger_tocross span:nth-child(2) {
        /*top: -12px;*/
        /*transform: rotate(90deg);*/
        /*opacity: 0;*/
        width: 66%;
        transition: var(--transition-link);
        background: var(--color-primary) !important;
    }

    .burger_tocross span:nth-child(3) {
        /*transform: rotate(-90deg);*/
        /*top: -12px;*/
        width: 33%;
        transition: var(--transition-link);
        background: var(--color-primary) !important;
    }

.categories:hover .category_open_btn span {
    background: var(--color-primaryDark);
    transition: var(--transition-link);    
}
.categories ul {
    display: block;
    position: relative;
    width: 100%;
    left: 0; /* Т.к. это список, по дефолту слева отступ в 40 пикселей*/
    margin-top: 25px;
    list-style: none;
}
    .categories ul li {
        display: none;
        opacity: 0;
        position: relative;
        height: 50px;
        width: 100%;
        margin: 0;
        transition: var(--transition-link);
    }
        .categories ul li > label {
            cursor: pointer;
            display: block;
            position: relative;
            height: 100%;
            width: 100%;
            left: 0px;
            line-height: 50px;
            text-align: left;
            text-transform: none;
            font-size: var(--font-size-normal);
        }
        .categories ul li::after {
            content: "";
            display: none;
            position: absolute;
            height: 50px;
            width: 5px;
            top: 0;
            left: 300px;
        }
        .categories ul li:hover {
            background: var(--gradient-default);
        }
        .categories ul li:hover label{
            color: var(--color-primaryLight);
            transition: var(--transition-link);
        }
            .categories ul li:hover .list_container {
                display: block;
            }
            .categories ul li:hover::after{
                display: block;
            }
.list_container {
    display: none;
    position: relative;
    width: 340px;
    height: auto;
    left: 305px;
    top: -50px;
    background: white;
    border-radius: 10px;
    transition: var(--transition-link);
}
.list_container::after {
    content: "";
    display: block;
    position: absolute;
    height: 90%;
    width: 100%;
    bottom: -10px!important;
    border-radius: 10px;
    background: var(--gradient-default);
    filter: var(--contrast-default);
    box-shadow: var(--box-shadow-buttonShadow);
    z-index: -1;
}
    .list_container label {
        cursor: default!important;
        color: var(--color-primaryDark) !important;
        text-transform: none!important;
    }
    .list_container ul{
        margin-top: 20px!important;
    }
.list_container ul li {
    cursor: pointer;
    height: 50px;
    width: 100%;
    margin-right: 10px!important;
}
    .list_container ul li label {
        cursor: pointer!important;
        display: block;
        position: relative;
        height: 100%;
        width: 100%;
        left: 0px;
        line-height: 50px;
        text-align: left;
        text-transform: none;
        font-size: var(--font-size-normal);
    }
        .list_container ul li label:hover {
            color: var(--color-primaryLight) !important;
            transition: var(--transition-link);
        }

        .search_active{
            width: 800px!important;
            /* right: 600px!important; */
            height: var(--height-search)!important;
            border-radius: 20px 50px 50px 20px!important;
            transition: var(--transition-low);
        }
        .search_wrapper {
            display: block;
            position: absolute;
            width: var(--height-search);
            right: 200px;
            top: 20px;
            height: var(--height-search);
            z-index: 100; 
            border-radius: 50px;
            border: 2px solid var(--color-primary);
            overflow: hidden;
            transition: var(--transition-low);
        }
        .search{
            display: block;
            position: relative;
            width: 100%;
            height: 100%;
        }
        .search_active #src_input{
            display: block;
            position: relative;
            width: 100%;
            height: 100%;
            top: -1px;
            left: -1px;
            padding-left: 10px;
        }
        .search{
            display: block;
            position: relative;
            width: 100%;
            height: 100%;
        }
        #src_input{
            display: none;
            position: relative;
            width: 100%;
            height: 100%;
            top: -1px;
            left: -1px;
            padding-left: 10px;
        }
        .src_circle{
            cursor: pointer;
            display: block;
            position: absolute;
            width: 24px;
            height: 24px;
            top: 2px;
            right: 2px;
            border-radius: 50px;
            /* background: var(--color-primary); */
        }
        .src_circle img{
            position: absolute;
            top: 2px;
            left: 2px;
        }
#cart {
    cursor: pointer;
    display: inline-block;
    position: absolute;
    width: 150px;
    height: 65%;
    right: 0;
    top: 8px;
    background: var(--color-primaryLight);
    border-radius: 10px;
    z-index: 11;
}
#cart::before{
    content: "";
    display: block;
    position: absolute;
    height: 20px;
    width: 2px;
    left: -28px;
    top: 18px;
    border-radius: 10px;
    background: var(--color-primary);
}

.total_price{
    cursor: pointer;
    display: block;
    position: relative;
    line-height: 50px;
    margin-left: 30px;
    text-transform: uppercase;
    background: linear-gradient(to right, var(--color-primary) 50%, var(--color-primary2) 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    font-size: 22pt;
    color: var(--color-primary);
}

#cart::after{
    content: attr(attr-data);
    position: absolute;
    right: 0px;
    top: 15px;
    font-size: var(--font-size-title);
    font-weight: bold;
    color: var(--color-primaryDark)!important;
}
    #cart img {
        position: absolute;
        left: 0px;
        top: 0;
    }

    #cart .cart_items_counter {
        position: absolute;
        width: 20px;
        height: 16px;
        padding: 3px 0 0 0;
        border-radius: 10px;
        background: var(--color-primary);
        top: 30px;
        left: 0px;
        font-size: 8pt;
        color: white;
    }

.cart_frame{
    display: none;
    visibility: hidden;
    opacity: 0;
    width: 100%;
    height: 480px;
    margin-top: 0px;
    transition: var(--transition-link);
}
.cart_frame_open{
    visibility: visible!important;
    opacity: 1!important;
    margin-top: 40px!important;
    transition: var(--transition-link);
}

.cart {
    /* visibility: visible; */
    display: block;
    opacity: 1;
    position: absolute;
    width: 100%;
    height: 450px;
    /* left: 1%; */
    text-align: left;
    border-radius: 5px 5px 20px 20px!important;
    background: var(--color-primaryLight);
    transition: var(--transition-link);
}
.cart::before{
    content: "Корзина";
    position: absolute;
    left: 40px;
    top: 25px;
    font-size: 20pt;
    color: var(--color-primaryDark)!important;
    font-weight: bold;
    z-index: 1;
}
.cart::after{
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: -10px!important;
    border-radius: 20px;
    background: var(--gradient-default);
    filter: var(--contrast-default);
    box-shadow: var(--box-shadow-buttonShadow);
    z-index: -1;
}

.cart_container{
    display: block;
    position: relative;
    /* width: 100%;
    height: 100px; */
    margin-top: 100px;
    margin-left: 50px;
    top: 0;
    left: 0;
    /* border: 1px solid #323232; */
    /* width: 70%; */
}
.cart_container::before{
    content: "";
    display: block;
    position: absolute;
    height: 450px;
    width: 300px;
    top: -100px!important;
    left: -600px;
    border-radius: 50%;
    background: var(--gradient-default);
    opacity: .3;
}
.right_cart,
.left_cart{
    cursor: pointer;
    display: block;
    position: absolute;
    height: 40px;
    width: 40px;
    top: 20px;
    right: 450px;
    border-radius: 40px;
    background: var(--gradient-default);
    color: var(--color-primaryLight);
    font-size: 16pt;
    text-align: center;
    line-height: 40px;
    filter: var(--contrast-default);
    box-shadow: var(--box-shadow-buttonShadow);
}
.right_cart{
    right: 390px;
}
    .cart .product {
        margin-bottom: 30px;
        margin-left: 25px;
        background: var(--color-primaryLight);
        box-shadow: var(--box-shadow-lightShadow);
        border-radius: 5px;
        overflow: hidden;
        transition: var(--transition-link);
    }
.cart .product:hover img{
    top: 2%!important;
    height: 230px!important; /*70% 330px */
    width: 200px!important;
}
.cart .product > img {
    top: 0!important;
    /* height: 230px; 70% 330px
    width: 200px; */
    height: 250px!important;
    width: 250px!important;
    left: 20px;
    margin: auto;
    transition: var(--transition-link);
}

.cart .product p {
    opacity: 0;
    width: 120px!important;
    margin-top: 40%;
    margin-left: unset;
    left: 0!important;
    line-height: 30px!important;
    font-size: 12pt!important;
    font-weight: bold;
    /* text-transform: uppercase; */
    transition: var(--transition-link);
    color: var(--color-primaryLight);
    z-index: 3;
}
.cart .product:hover p {
    opacity: 1;
    left: 10px!important;
}

.cart .product .price {
    top: unset;
    bottom: 10px;
    left: 10px;
    font-weight: bold;
    transition: var(--transition-link);
}
.cart .product:hover .price {
    left: 20px;
    bottom: 10px;
    color: var(--color-primaryLight);
    transition: var(--transition-link);
}
.cart .product .tocart {
    cursor: pointer;
    opacity: 0;
    width: 80%;
    height: 50px;
    bottom: unset!important;
    top: 30%!important;
    left: 10%;
    border-radius: 50px;
    background: transparent!important;   
    border: 1px solid var(--color-primaryLight);
    background: var(--color-primary);
    z-index: 3;
    transition: var(--transition-link);
}
.cart .product:hover .tocart {
    opacity: 1;
    transition: var(--transition-link);
}
.cart .product .tocart label {
    cursor: pointer;
    display: block;
    position: relative;
    text-align: center;
    padding: 5px;
    top: 8px;
    font-size: 10pt;
    text-transform: uppercase;
    color: var(--color-primaryLight);
}

.cart_cheque {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    width: 350px;
    height: 450px!important;
    bottom: 0px;
    background: var(--color-primaryLight);
    overflow: hidden;
    padding-left: 10px;
    border-radius: 0 5px 20px 0;
    box-shadow: -10px 0 30px -15px var(--color-fore-darkLight);
    z-index: 5;
}
    .cart_cheque #summary {
        display: block;
        position: relative;
        text-align: right;
        margin-top: 30px;
        height: 40px;
        padding: 0px 40px 0 20px;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 16pt;
        color: var(--color-primaryLight)!important;
        border-bottom: 1px solid #eee;
    }
    .cart_cheque #summary::before {
        content: "Список";
        display: block;
        position: absolute;
        text-transform: capitalize;
        background: var(--color-primaryDark);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: bold;
        font-size: 16pt;
    }
    .cart_cheque #summary::after {
        content: "";
        display: block;
        position: absolute;
        width: 40px;
        height: 40px;
        top: -10px;
        right: 26px;
        border-radius: 50px;
        background: var(--gradient-default);
        z-index: -1;
    }

.cheque {
    display: block;
    height: 325px;
    margin-top: 0px;
    overflow-x: hidden;
    overflow-y: scroll;
    border-bottom: 1px solid #eee;
}

    .cheque div {
        display: block;
        position: relative;
        width: 280px;
        margin-top: 10px;
        left: 55px;
        transition: var(--transition-link);
    }
    .cheque div::before {
        content: attr(attr-data);
        position: absolute;
        width: 30px;
        height: 30px;
        top: 0;
        left: -40px;
        text-align: center;
        line-height: 30px;
        color: var(--color-primaryLight);
        border-radius: 30px;
        background: var(--gradient-default);
        transition: var(--transition-link);
    }

    .cheque label {
        display: inline-block;
        position: absolute;
        width: 30%;
        right: 10px;
        top: 0px;
        text-align: right;
        background: linear-gradient(to right, var(--color-primary) 80%, var(--color-primary2) 20%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 20pt;
        color: var(--color-primary);
    }

    .cheque p {
        display: inline-block;
        width: 62%;
        top: 0;
        font-size: var(--font-size-mini);
    }

    .cheque div:hover {
        border-color: var(--color-primary);
        transition: var(--transition-link);
    }

.cart_cheque input {
    cursor: pointer;
    display: block;
    position: relative;
    width: 60%;
    height: 30px;
    margin: 0 auto;
    margin-top: 15px;
    border-radius: 50px;
    background: var(--gradient-default);
    color: var(--color-primaryLight);
    outline: none;
    border: none;
}

.cart_container .product {
    width: 180px;
    height: 270px;
    top: 15px;
    float: left;
    z-index: 4;
}

    .cart_container .product > img {
        display: block;
        position: relative;
        top: 25%;
        height: 162px; /* 60% 270px*/
        width: 140px;
        margin: 0 auto;
    }

    .cart_container .product .tocart {
        height: 30px;
    }

        .cart_container .product .tocart label {
            text-transform: lowercase;
            top: 0;
        }

    .cart_container .product p {
        display: block;
        position: absolute;
        width: 100%;
        top: 50px;
        font-size: var(--font-size-mini);
        padding-left: 10px;
        transition: var(--transition-link);
        z-index: 3;
    }

    .cart_container .product > label {
        display: block;
        position: absolute;
        bottom: 10px;
        right: 10px;
        font-size: var(--font-size-normal);
        font-weight: bold;
        z-index: 3;
        transition: var(--transition-link);
    }

    .cart_container .product:hover > label {
        color: var(--color-primaryDark);
        bottom: 30px;
        transition: var(--transition-link);
    }

    .cart_container .product:hover .tocart {
        opacity: 1;
        bottom: -30%;
        transition: var(--transition-link);
    }
