
@media only screen and (max-device-width: 1024px) { /* ������ ������ 1024 */
    html {
        --width-min: 100%;
        --font-size-mini: 16pt;
        --font-size-normal: 18pt;
        --font-size-title: 20pt;
    }
    .navbar_one .links li:nth-child(2),
    .navbar_one .links li:nth-child(3) {
        display: none;
    }
    .categories{
        width: 350px;
    }
    .list_container{
        width: 400px;
        left: 355px;
    }
    .product p{
        color: #646464;
    }
    .product_type {
        width: 35%!important;
    }
}
@media only screen and (min-device-width: 1025px) { /* ������ ������ 1024 */
    html {
        --width-min: 1280px;
    }
}
@media only screen and (max-width: 1279px) { /* ������ ������ 1280 */
    .viewport .header {
        width: 955px!important;
    }
    .body {
        width: 955px;
    }
}

@media only screen and (max-width: 1280px) { /* ������ ������ (��������) 1280 */
    html {
        --margin-fromScreen: 55px !important;
        transition: var(--transition-link);
        --font-size-title: var(--font-size-normal);
    }
    .viewport .header {
        max-width: 100%;
        left: -3px;
    }
    .search_active{
        width: 400px!important;
    }
}
@media only screen and (min-width: 1281px) { /* ������ ������ 1280 */
    html {
        --margin-fromScreen: 60px !important;
        transition: var(--transition-link);
    }
    .body {
        max-width: 100%;
    }
    .viewport .header {
        max-width: 100%;
    }
}
