.main_container {
    display: block;
    position: relative;
    width: 100%;
    top: 50px;
    margin: 0 auto;
    margin-bottom: 100px;
}

/*prod list container*/
/*prod list container*/
/*prod list container*/
/*prod list container*/
.viewport {
    display: block;
    position: relative;
    width: 100%;
}

    .viewport .header {
        display: block;
        position: relative;
        width: var(--width-min);
        margin: 0 auto;
        margin-bottom: 30px;
    }
    .reccomended_label::before {
        content: "";
        display: block;
        position: relative;
        width: 50px;
        height: 50px;
        margin: 0 auto;
        margin-bottom: 10px;
        background-image: url("../images/icons/reccomend.png")!important;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .sales_label::before {
        content: "";
        display: block;
        position: relative;
        width: 50px;
        height: 50px;
        margin: 0 auto;
        margin-bottom: 10px;
        margin-top: 100px;
        background-image: url("../images/icons/sales.png")!important;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .content_prod_label{
        margin-top: 30px;
    }
    .content_label{
        margin-top: 50px;
    }
    .content_label::before {
        content: "Категория";
        display: inline-block;
        position: absolute;
        top: -30px; 
        text-transform: capitalize;
        font-size: var(--font-size-normal);
        color: var(--color-fore-darkLight);
    }
    .content_image::before {
        content: "";
        display: block;
        position: relative;
        width: 64px;
        height: 64px;
        margin: 0 auto;
        margin-bottom: 30px;
        border-radius: 5px;
        background-image: url("../images/icons/brands/oriflame.jpg")!important;
        background-repeat: no-repeat;
        background-size: cover;
    }
        .viewport .header > label {
            display: block;
            font-size: 29px;
            font-weight: bold;
            text-transform: uppercase;
            text-align: center;
            margin-bottom: 10px;
        }

        .viewport .header > span {
            margin: auto;
            background: var(--gradient-default);
        }
  


.market_part{
    display: block;
    position: relative;
    max-width: 1280px;
    margin: 0 auto;
    height: 450px;
    /* border: 1px solid #323232; */
    margin-bottom: 100px; 
}
.big_sale_picture{
    display: block;
    position: relative;
    width: 55%;
    height: 100%;
    margin-left: 50px;
    background-image: url('../images/icons/catalog_images/body.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    box-shadow: var(--box-shadow-buttonShadow);
}
.big_sale_label{
    display: block;
    position: relative;
    width: 90%;
    height: 80px;
    top: 385px;
    left: 5%;
    text-align: center;
    background: var(--color-primaryLight);
    border-radius: 10px;
    box-shadow: var(--box-shadow-buttonShadow);
    overflow: hidden;
}
.big_sale_label::before{
    content: "";
    display: block;
    position: absolute;
    width: 20px;
    height: 50px;
    top: 15px;
    left: -10px;
    background: var(--gradient-default);
    border-radius: 8px;
}
.big_sale_label::after{
    content: "";
    display: block;
    position: absolute;
    width: 20px;
    height: 50px;
    top: 15px;
    right: -10px;
    background: var(--gradient-default);
    border-radius: 8px;
}
.big_sale_label label{
    display: block;
    position: relative;
    font-size: 22pt;
    font-weight: bold;
    margin-top: 5px!important;
}
.big_sale_label p{
    display: block;
    position: relative;
    font-size: 12pt;
    top: 5px;
    text-transform: lowercase;
}

.small_sale_picture{
    display: block;
    position: absolute;
    top: 0;
    right: 50px;
    width: 30%;
    height: 48%;
    background: var(--color-primaryLight);
    border-radius: 20px;
    box-shadow: var(--box-shadow-buttonShadow);
    overflow: hidden;
}
.small_sale_picture::after{
    content: "";
    display: block;
    position: absolute;
    width: 80%;
    height: 20px;
    bottom: -12px;
    left: 10%;
    background: var(--gradient-default);
    border-radius: 8px;
}
.small_sale_picture:nth-child(3){
    top: 52%;
}
.small_sale_picture label{
    text-align: center;
    display: block;
    position: relative;
    font-size: 32pt;
    font-weight: bold;
    font-style: italic;
    margin-top: 60px!important;
}
.small_sale_picture p{
    text-align: center;
    display: block;
    position: relative;
    font-size: 19pt;
    font-weight: bold;
    font-style: italic;
    line-height: 20px;
    text-transform: lowercase;
}
.dynamic_line{
    background: var(--color-dynamic)!important;
}
    .viewport .body {
        display: block;
        position: relative;
        max-width: var(--width-min);
        margin: 0 auto;
        /*transition: var(--transition-link);*/
    }

.season_share{
  display: block;
  position: relative;
  max-width:  var(--width-max);
  max-height: 200px;
  margin: auto;
  margin-top: 100px;
  background: var(--gradient-dynamic);
  filter: var(--contrast-default);
  overflow: hidden;
}
    .season_share img {
        opacity: 0;
        display: block;
        position: relative;
        width: 100%;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
.season_scroll{
    opacity: 1!important;
    transition: 1s ease-in-out;
}
.offer {
    display: block;
    position: relative;
    max-width: var(--width-min);
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    /* background: var(--gradient-dynamic); */
    border-radius: 10px 10px 10px 10px;
    overflow: hidden;
}

    .offer img {
        display: block;
        position: relative;
        width: 100%;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 2;
    }
    .offer .button {
        position: relative;
        width: 350px;
        height: 40px;
        line-height: 40px;
        bottom: 20px;
        margin: 0 auto;
        margin-top: -50px!important;
        background: transparent;
        border: 3px solid var(--color-primaryLight);
        font-size: var(--font-size-title);
        text-transform: lowercase;
        font-weight: bold;
        font-style: italic;
        z-index: 3;
    }


