.main_viewport {
    display: block;
    position: relative;
    max-width:  var(--width-min);
    margin: 0 auto;
    margin-top: 200px;
    padding: 0 var(--margin-fromScreen) 0 var(--margin-fromScreen);
}

    .main_viewport .header {
        display: block;
        position: relative;
        width: 100%;
        height: 100px;
        transition: var(--transition-link);
        box-shadow: var(--box-shadow-lightShadow);

    }

        .main_viewport .header .header_section {
            display: inline-block;
            position: absolute;
        }
            .main_viewport .header .header_section:nth-child(1) {
                width: 60%;
                height: 100%;
                left: 0;
            }
                .main_viewport .header .header_section:nth-child(1) label {
                    display: block;
                    font-size: var(--font-size-title);
                    font-weight: bold;
                }
                .main_viewport .header .header_section:nth-child(1) .rate_block {
                    display: block;
                    position: relative;
                    width: 200px;
                    top: unset;
                    box-shadow: unset;
                    left: unset;
                    font-size: var(--font-size-title);
                    font-weight: bold;
                    top: 2px;
                }
                .main_viewport .header .header_section:nth-child(1) .rate_block .rate_star{
                   left: unset;
                   margin-left: unset;
                   margin-right: 10px;
                }

.clients_number {
    display: block;
    position: absolute;
    width: 40%;
    left: 0;
    padding: 8px 0 8px 0;
    text-align: left;
    color: var(--color-fore-darkLight);
    font-size: var(--font-size-mini);
}

    .clients_number::after {
        position: relative;
        left: 5px;
        content: "\0447\0435\043B\002E"; /* � � � . */
    }
    .clients_number::before {
        position: absolute;
        width: 60px;
        height: 3px;
        top: 15px;
        left: 80px;
        background: var(--color-fore-darkLight);
        border-radius: 1.5px;
        content: "";
    }


.main_viewport .header .header_section:nth-child(2) {
    width: 35%;
    right: 0;
    bottom: 0;
    /*text-align: left;*/
}
    .main_viewport .header .header_section:nth-child(2) label {
        display: inline-block;
        position: relative;
        margin-right: 10px;
        font-size: 24pt;
        font-weight: bold;
        color: var(--color-primary);
    }
        .main_viewport .header .header_section:nth-child(2) label:after {
            position: relative;
            content: "\00A0\0440\0443\0431"; /*_ _ � � � */
        }
    .main_viewport .header .header_section:nth-child(2) p {
        display: inline-block;
        position: relative;
        font-size: var(--font-size-normal);
        font-weight: bold;
        text-decoration: line-through;
        color: var(--color-fore-darkLight);
    }
        .main_viewport .header .header_section:nth-child(2) p::after {
            position: relative;
            content: "\00A0\0440\0443\0431"; /*_ _ � � � */
        }

.main_viewport .content {
    display: block;
    position: relative;
    max-width: var(--width-min);
    height: 500px;
    transition: var(--transition-link);
    /*overflow: hidden;*/
}
.content .image_section {
    display: inline-block;
    position: relative;
    width: 60%;
    height: 100%;
    box-shadow: var(--box-shadow-lightShadow);
}
.image_section *:not(.selected_image) {
    cursor: pointer;
    display: block;
    position: relative;
    width: 100px;
    height: 115px;
    margin-bottom: 5px;
    border: 1px solid var(--color-primary);
    border-radius: 5px;
    z-index: 5;
    transition: var(--transition-link);
}
.image_section *:not(.selected_image):hover {
    transform: scale(1.05);
    transition: var(--transition-link);
}
.image_section .selected_image {
    display: block;
    position: absolute;
    top: 0;
    right: 150px;
    width: 400px;
    height: 440px;
    z-index: 3;
}
.content .meta_section {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    width: 35%;
    height: 100%;
    box-shadow: var(--box-shadow-lightShadow);
}
.add_tocart {
    display: block;
    position: relative;
    bottom: 0;
    height: 40px;
    width: 100%;
}
    .count {
        display: inline-block;
        position: relative;
        top: 0;
        width: 45%;
        height: 100%;
    }
    .count label{
        font-size: var(--font-size-normal);
        color: var(--color-primaryDark);
        font-weight: bold;
    }

.add_tocart .add_tocart_btn {
    display: inline-block;
    position: absolute;
    top: 5px;
    right: 0;
    width: 40%;
    transition: var(--transition-link);
}
.shares {
    display: block;
    position: relative;
    width: 100%;
    height: 40px;
    margin-top: 30px;
}
    .shares label{
        display: block;
        position: relative;
        margin-bottom: 10px;
        font-size: var(--font-size-normal);
        font-weight: bold;
        color: var(--color-fore-darkLight);
    }
    .shares span{
        display: block;
        position: relative;
        width: 50px;
        height: 3px;
        margin-bottom: 10px;
        border-radius: 1.5px;
        background: var(--color-fore-darkLight);
    }
.share{
    display: inline-block;
    position: relative;
    width: 28px;
    height: 28px;
    padding: 2px;
    margin-right: 10px;
    border-radius: 50px;
    background: var(--color-fore-darkLight);
    transition: 0s!important;
}
    .share:hover {
        background: var(--gradient-default);
    }


.info_section {
    display: block;
    position: relative;
    max-width:  var(--width-min);
    transition: var(--transition-link);
    overflow: hidden;
    margin-top: 50px;
}
.info_section .tab_wrapper {
    display: block;
    position: relative;
    max-width: 100%;
    height: 25px;
}
.tab_wrapper label{
    cursor: pointer;
    display: inline-block;
    position: relative;
    width: 100px;
    margin-right: 40px;
    font-size: var(--font-size-title);
    font-weight: bold;
}
.info_section span {
    display: block;
    position: relative;
    margin-top: .8%;
    height: 3px;
    border-radius: 1.5px;
    background: var(--color-primary);
}
.first_tabselected span{
    width: 60px;
    margin-left: 0;
    transition: var(--transition-link);
}
.second_tabselected span{
    width: 40px !important;
    margin-left: 145px!important;
    transition: var(--transition-link);
}
.third_tabselected span{
    width: 45px !important;
    margin-left: 290px !important;
    transition: var(--transition-link);
}
.info_wrapper {
    display: block;
    position: relative;
    max-width:  var(--width-min);
    height: 100%;
}
    .info_wrapper div {
        opacity: 0;
        display: block;
        position: absolute;
        max-width: 80%;
        height: 100%;
        margin-top: 2%;
        left: 0;
        font-size: var(--font-size-normal);
        /*padding: 1%;*/
    }
.first_tabselected .info_wrapper div:nth-of-type(1){
    /*display: block!important;*/
    position: relative;
    opacity: 1!important;
    transition: var(--transition-link);
}

.second_tabselected .info_wrapper div:nth-of-type(2) {
    position: relative;
    /*display: block !important;*/
    opacity: 1 !important;
    transition: var(--transition-link);
}

.third_tabselected .info_wrapper div:nth-of-type(3) {
    position: relative;
    /*display: block!important;*/
    opacity: 1 !important;
    transition: var(--transition-link);
}

.offer_label{
    text-transform: none!important;
}
.interest{
    width: 100%;
    height: 200px;
    margin-top: 50px;
    background: var(--gradient-default);
}